Source: deepin-deb-installer
Section: utils
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9), cmake, pkg-config, libqt5widgets5, libqt5concurrent5, libqapt-dev, libdtkwidget-dev 
Standards-Version: 3.9.8
Homepage: http://pardus.org.tr

Package: deepin-deb-installer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Deepin Package Installer
 Deepin Package Manager is used to help users install and 
 remove local software, supports to bulk install.
